/* Centra el botón agregar servicio */
.boton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.btn-add-service {
  margin: 0 auto;
  float: none;
  display: block;
  background-color: #8dcad1;
  color: white;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-top: 16px;
}

.btn-add-service:hover {
  background-color: #608d92;
  transform: scale(1.05);
}

.btn-add-service i {
  font-size: 1.3rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px ;
  border-radius: 10px;
  width: 500px;
  margin-bottom: 10px;
  text-align: left;
  overflow-y: auto;
  font-family: 'Instrument Sans', sans-serif;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover {
  color: black;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  padding: 3px;
  font-family: 'Instrument Sans', sans-serif;
}

input, select, 
textarea {
  width: 475px;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: inherit;
}

h2, h3{
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  color: rgb(5, 61, 61);
}

button {
  background-color: #a0d9e0;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-bottom: 4px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Instrument Sans', sans-serif;
  transition: background 0.3s ease;
}
.boton-container {
  display: flex;
  padding-top: 5px;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente si hay altura definida */
  gap: 5px;
}
button:hover {
  background-color: #608d92;
}

/* Estilo específico para el botón Guardar dentro del modal */
.modal-content button[type="submit"] {
  background-color: #4a90e2; /* color distinto (azul) */
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.modal-content button[type="submit"]:hover {
  background-color: #2f78c6;
}